.contorls {
  display: flex;
  flex-direction: row;
  border: black solid 2px;
  margin: 20px;
  padding: 10px;
}
.itemButton {
  display: flex;
  align-items: center;
  padding: 10px;
}
.itemButton:hover {
  color: #fb1b1b;
}
.dropdown {
  display: flex;
  align-items: center;
}
